// 覆蓋預設樣式顏色為毛毛橘(primary) 毛毛棕(secondary)
$primary: #f6bc54;
$secondary: #6a5f4b;
// 新增顏色變數 (顏色為原 bs 顏色)
$bs-primary: #007bff;
$bs-secondary: #6c757d;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// 其它要導入覆蓋掉原本的預設bootstrap樣式-類別-要放在這下面
// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// font variable
$roboto: "Roboto", sans-serif;

// navbar的高度
$nav-height: 80px;
// 每一個錨點的高度
$page-height: calc(100vh - $nav-height);

// border的弧度
$mao-rounded: 33px;

// 頁面滾動斷點效果 scroll-top
// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scroll_Snap
// [[ [母層] ]]
html {
  scroll-snap-type: y mandatory;
  // [[[ 要移動的物件(子層) ]]]
  .scroll-page {
    scroll-snap-align: start; //斷點最上面要停留在子層的起始位置
    scroll-margin-top: $nav-height; //設定與navbar的間距
  }
  // 輪軸背景
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }
  // 輪軸bar
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px #8a7e67d0;
    background-color: #6a5f4b;
    &:active {
      background-color: #54534a;
      -webkit-box-shadow: inset 0 0 6px rgba(71, 70, 63, 0.878)
    }
  }
}

body {
  margin-top: $nav-height;
  padding: 0;
  font-family: $roboto;
}

::selection {
  background: hsla(79, 60%, 65%, 1);
  color: white;
}

// loading 手掌的樣式
.spinner-grow {
  background-color: transparent;
  .sr-only {
    width: auto;
    height: auto;
    clip: auto;
    left: -50%;
    top: -50%;
  }
}

// 導覽列
.navbar {
  background-color: white;
  box-shadow: 0 5px 5px #ccc;
  text-align: center;
  // 登入按鈕
  .nav-login-btn {
    width: 200px;
  }
  // 會員頭像 (暫時修改 for 測試 navbar)
  .nav-avatar {
    height: 40px;
    width: 40px;
    // background: $primary;
  }
}

// 滑鼠樣式:手指
.pointer {
  cursor: pointer;
}

// 外框線按鈕
.btn-outline-primary {
  &:hover {
    color: white;
    font-weight: bold;
  }
  &:active {
    color: wheat;

  }
  
}
