.home-footprint {
  width: auto;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  div {
    padding: 1rem;
    margin: auto;
    overflow: hidden;
  }

  .paw1 {
    transform: translate(20px) rotate(25deg);
  }
  .paw2 {
    transform: translate(-20px) rotate(-25deg);
  }
  .paw2 {
    transform: translate(-20px) rotate(-25deg);
  }
}
