//產品card
.product {
  //   margin: 0 auto 15px auto;
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   min-width: 0;
  //   word-wrap: break-word;
  //   background-color: #fff;
  //   background-clip: border-box;
  //   width: 10em;
  //   z-index: 0;
  //   width: 130px;
  //   height: auto;
}
.setbg {
  position: relative;
}
.setbg::before {
  content: '';
  border: 1px solid#fcb736;
  border-radius: 30px;
  width: 150px;
  height: 270px;
  background: none;
  position: absolute;
  top: 10%;
  //   left: 10%;
  z-index: -1;
}
.productCartIcon {
  position: absolute;
  top: 90%;
  left: 75%;
  z-index: 0;
}
.s-title {
  height: 65px;
  padding: 0 5px 0 5px;
  font-size: 0.8rem;
  margin: 5px 10px 0 10px;
  color: #6a5f4b;
}
.s-price {
  font-weight: 700;
  height: 50px;
  padding: 10px 0 0 20px;
  color: #6a5f4b;
}
// .s-image {
//   z-index: 4;
// }
