// maobook 字 logo
.login-logo-word {
  max-width: 370px;
  padding-top: 25%;
}

// 大圖 logo
.login-logo-noword {
  max-width: 350px;
  top: -100%;
  left: 15%;
}

// maobook 和 logo 的 RWD for pad (992px)
@media only screen and (max-width: 992px) {
  .login-logo-word {
    margin: auto;
    padding-top: 20%;
  }
  .login-logo-noword {
    max-width: 300px;
    top: -40%;
    left: 50%;
    transform: translateX(-55%);
  }
}
// maobook 和 logo 的 RWD for mobile (768px)
@media only screen and (max-width: 768px) {
  .login-logo-word {
    max-width: 220px;
    padding-top: 15%;
  }
  .login-logo-noword {
    max-width: 160px;
    top: -30%;
    left: 50%;
    transform: translateX(-55%);
  }
}

// 會員登入圖
.img-login-word {
  max-width: 200px;
  left: 14%;
  top: -40%;
}
// 登入表單
.login-form {
  padding: 1.2rem 3rem;
  .errMsg {
    color: rgb(175, 2, 2);
    font-size: 1rem;
    text-align: center;
  }
}
.login-form input {
  background: none;
  border: 1.5px solid #f6bc54;
  border-radius: 2rem;
  height: 2rem;
  transition: 0.4s;
  &::placeholder {
    color: grey;
    font-size: 0.9rem;
  }
  &:focus {
    background: rgba($color: #6a5f4b, $alpha: 0.3);
  }
}

// 登入按鈕樣式
.login-btn button {
  margin-bottom: 2rem;
  padding: 0;
  &:hover .paw-btn path {
    fill: #6a5f4b;
    transition: 0.4s;
  }
}

// 第三方登入
.thirdParty-login {
  justify-content: center;
  padding: 0.8rem 1rem 7rem 1rem;
}
.thirdParty-icon-login {
  margin: 30px 15px;
  padding: 0.8rem 1.3rem;
  border: 1.5px solid white;
  border-radius: 1.2rem;
  font-size: 2.5rem;
}

// 註冊區塊的 RWD for pad (992px)
@media only screen and (max-width: 992px) {
  .login-form {
    padding: 20px 200px;
    input {
      height: 3rem;
      &::placeholder {
        font-size: 1.2rem;
      }
    }
  }
  .login-btn {
    text-align: center;
    margin-bottom: 10rem;
    padding: 0;
  }
  .thirdParty-login {
    justify-content: center;
    margin-top: 17%;
    margin-bottom: 15%;
  }
  .thirdParty-icon-login {
    margin: 20px;
  }
}
// 註冊區塊的 RWD for mobile (768px)
@media only screen and (max-width: 768px) {
  .login-form {
    padding: 10px 40px 0px 40px;
    input {
      height: 2rem;
    }
  }
  .login-btn {
    margin-bottom: 5rem;
  }
  .thirdParty-login {
    margin-top: 20%;
    margin-bottom: 10%;
  }
  .thirdParty-icon-login {
    border-radius: 50%;
  }
}
