.main-content {
  height: calc(100vh - 80px);
  // padding-top: 150px;
  // 減去 index.scss 中預設的 margin-top (不然 viewport 會變 100vh + 80px)
}
// 空白區塊
.login-space-section {
  height: 60%;
}
// 登入區塊
.login-section {
  height: 40%;
}

// maobook 字 logo
.login-logo-word {
  max-width: 370px;
  padding-top: 15%;
}

// 大圖 logo
.login-logo-noword {
  max-width: 350px;
  top: -130%;
  left: 15%;
}

// maobook 和 logo 的 RWD for pad (992px)
@media only screen and (max-width: 992px) {
  .login-logo-word {
    max-width: 370px;
    margin: auto;
    padding-top: 50px;
  }
  .login-logo-noword {
    max-width: 300px;
    top: -190px;
    left: 50%;
    transform: translateX(-55%);
  }
}
// maobook 和 logo 的 RWD for mobile (768px)
@media only screen and (max-width: 768px) {
  .login-logo-word {
    max-width: 220px;
    margin: auto;
    padding-top: 10px;
  }
  .login-logo-noword {
    max-width: 200px;
    top: -120px;
    left: 50%;
    transform: translateX(-55%);
  }
}

// 會員登入圖
.img-login-word {
  max-width: 200px;
  left: 14%;
  top: -53%;
}
// 登入表單
.login-form {
  padding: 10px 50px;
}
.login-form input {
  background: none;
  border: 1.5px solid #f6bc54;
  border-radius: 2rem;
  height: 2rem;
  transition: 0.4s;
}
.login-form input::placeholder {
  color: grey;
  font-size: 0.9rem;
}
.login-btn {
  margin-bottom: 2rem;
  padding: 0;
}
.login-btn:hover .paw-btn path {
  fill: #6a5f4b;
  transition: 0.4s;
}

// 第三方登入
.thirdParty-login {
  justify-content: center;
}
.thirdParty-icon-login {
  margin: 30px 15px;
  padding: 15px;
  border: 1.5px solid white;
  border-radius: 1.2rem;
}

// 註冊區塊的 RWD for pad (992px)
@media only screen and (max-width: 992px) {
  .signup-form {
    padding: 100px 80px 0 80px;
  }
  .divider {
    margin: 20px auto;
    height: 1px;
    width: 70vw;
    background: white;
    border: none;
  }
  .thirdParty-login {
    justify-content: center;
  }
  .thirdParty-icon {
    margin: 20px;
  }
  .thirdParty-icon:last-child {
    margin-right: 20px;
  }
  .signUp-btn {
    text-align: center;
    margin-top: 20px;
  }
  .signUp-btn button {
    margin-right: 0;
  }
  .img-paws-lg {
    left: 50%;
    transform: translateX(-50%);
  }
}
// 註冊區塊的 RWD for mobile (768px)
@media only screen and (max-width: 768px) {
  .signup-form {
    padding: 60px 50px 0 50px;
  }
  .signup-form input {
    height: 1.5rem;
  }
  .divider {
    margin: auto;
  }
  .thirdParty-icon {
    border-radius: 50%;
  }
  .signUp-btn {
    margin-top: 0;
  }
  .img-paws-lg {
    bottom: -25%;
  }
}
