// 整體佈局
.scheduleIntro {
  display: flex;
  flex-direction: column;
  z-index: 0.8;
  width: 650vw;
  max-width: 100%;
  height: 550px;
  // background-color: grey;
  // margin-top: 90px;
  // margin-left: 100px;
  // margin-right: 40px;
  position: relative;
}

// 左上方介紹詞
.scheduleInfoTxt {
  // justify-content: flex-start;
  // z-index: 0.8;
  // height: 100%;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // text-align: left;
  // margin-left: 100px;
  position: absolute;
  left: 15%;
  top: 5%;
}

// 左上方文字設定
.scheduleInfoTxt h2 {
  font-size: 2.1rem;
  line-height: 45px;
  white-space: nowrap;
}
.scheduleInfoTxt h5 {
  font-size: 1.2rem;
  line-height: 30px;
  white-space: nowrap;
}

.cheduleInfochat {
  position: absolute;
  left: 60%;
  top: 15%;
}

.IntroTop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Introdowm {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 主視覺圖像
.chedulePhoto {
  // /* position: relative;
  // display: block;
  // /* max-width: 100%; */
  // /* position: absolute; */

  // display: block;
  // margin: auto auto;
  // background-size: cover;
  // background-color: hotpink;
  // z-index: 0.8;
  position: absolute;
  top: 35%;
}

.chedulePhoto .img {
  // justify-content: center;
  // align-items: center;
  // max-width: 50%;
  // height: auto;
}

// 下方箭頭與文字
.arrowtext {
}
/* @media screen and (min-width: 576px) {
  .scheduleIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0.8;
    max-width: 100%;
    height: 650px;
    background-color: grey;
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  } */

// 中文背景字
.scheduleIntro .cTxt {
  position: absolute;
  left: 65%;
  top: 78%;
}

// 下方文字

.aaaaa {
}
.arrowtextP1 {
  position: absolute;
  transform: translateX(-50%);

  top: 105%;
  margin-top: 30px;
  margin-bottom: 3px;
  color: #6a5f4b;
}
.arrowtextP2 {
  position: absolute;
  transform: translateX(-50%);
  top: 105%;
  color: #6a5f4b;
}

.arrowtextImg {
  position: absolute;
  transform: translateX(-50%);
  top: 115%;
}
