// 外層框架
.scheduleNotes {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// 重要記事
.scheduleNotesStar {
  align-items: center;
  margin-right: 10px;
  width: 100%;
}

.scheduleNotesStarTitle {
  margin: 2px 50px 0px 50px;
  display: flex;
  position: relative;
}

.scheduleNotesStarH1 {
  font-size: 1.5rem;
  padding-left: 15px;
  padding-top: 5px;
  color: #f6bc54;
}

.notesStarImg {
}

.scheduleNotesStarbox {
  border: 2px #f6bc54 solid;
  padding: 30px 30px 30px 30px;
  margin: 0px 40px 40px 40px;
  border-radius: 20px;
}

// 當日記事
.scheduleNotesToday {
}

.scheduleNotesTodayTitle {
  margin: 2px 50px 50px 50px;
  font-size: 1.5rem;
  color: #f6bc54;
  display: inline;
}

.scheduleNotesTodaybox {
  border: 2px #f6bc54 solid;
  padding: 30px 30px 30px 30px;
  margin: 2px 40px 40px 40px;
  border-radius: 20px;
}

// 事件

.scheduleEvents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // position: relative;
}
.scheduleEvents1 {
  width: 30px;
  height: 30px;
  padding: 3px 3px 3px 3px;
}
// .events1Img {
//   display: block;
//   margin: auto auto;
// }

.scheduleEventDay {
  margin: auto auto;
  color: #6a5f4b;
  font-size: 20px;
}

.scheduleEvents2 {
  width: 30px;
  height: 30px;
  padding: 3px 3px 3px 3px;
}
.scheduleEvents2Img {
  display: block;
  margin: auto auto;
}
.scheduleEvents3 {
  padding: 3px 3px 3px 3px;
}
.scheduleEvents4 {
  padding: 3px 3px 3px 3px;
}
.scheduleEvents5 {
  padding: 3px 3px 3px 3px;
  color: #6a5f4b;
  font-size: 20px;
}
