.orderbgAREA {
  position: relative;
  height: 350px;
}
.MaoStore3 {
  position: fixed;
  left: 10%;
}
.prolistBG {
  position: absolute;
  right: 23%;
  top: 10%;
}
.orderdetailArea {
  margin: auto;
  width: 705px;
  height: auto;
  border: 1px solid#fcb736;
  border-radius: 10px;
}

.calculate {
  color: #6a5f4b;
  font-size: 1.2rem;
}

.finaltotal {
  padding: 5px 30px;
  display: inline-block;

  height: auto;
  border: 2px solid#fcb736;
  border-radius: 30px;
  font-size: 1.4rem;
  color: #fcb736;
}
.order-arrow {
  position: relative;
  margin: 40px 0 20px 0;
  top: 50%;
  left: 49.5%;
}
.checkoutBtn {
  padding: 5px 30px !important;
  height: auto !important;
  font-weight: 700 !important;
  font-size: 1.6rem !important;
  border-radius: 30px !important;
  color: #ffff !important;
}
.maildetail {
  color: #6a5f4b;
  font-size: 1.2rem;
  width: 90%;
  margin: 30px auto 0 30px;
}
.maillabel {
  margin: 0;
  padding: 10px 0 10px 10px;
  width: 100%;
  border-top: 1px solid #fcb736;
}
.mailinput {
  padding-left: 10px;
  width: 80%;
  margin-left: 20px;
  // border: 1px solid #6a5f4b;
  // border-radius: 30px;
}
