.leftbackground {
  position: fixed;
  width: 32.73 px;
  height: 32.73 px;
  top: 99.11px;
  left: 10%;
  z-index: 1;
}

.posticon {
  position: fixed;
  width: 40 px;
  height: 40 px;
  top: 99.11px;
  left: 85%;
  z-index: 1;
}

.dayhelps {
  margin-top: 50px;
  margin-bottom: 100px;
}

.helplist {
  position: relative;
  left: 5%;
  max-width: 90%;
  margin-bottom: 150px;
}
