.maoassistance {
  position: fixed;
  width: 100 px;
  height: 100 px;
  top: 99.11px;
  left: 10%;
  z-index: 1;
}

.helpposticon {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 99.11px;
  left: 85%;
  z-index: 1;
}

.middle{
  top:0%;
}

.dayhelps {
  margin-bottom: 10px;
}

.helplist {
  position: relative;
  margin-bottom: 150px;
  margin-top: 50px;
}

.helpdetail {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
