// POST 外框架
.a {
  background-size: cover;
  background-color: #f6bc54;
}

.helppost {
  // margin: auto;
  width: 100%;
  height: 100%;
  margin: auto auto;
  text-align: center; //格字內元素置中
  // flex-direction: column;
  // justify-content: space-around;
}

.abc {
  align-items: center;
  margin-right: 10px;
  width: 100%;
}
// 重要的事
.postH1 {
  color: #f6bc54;
  font-size: 3.5rem;
  margin-top: -20px;
  text-align: center;
}

// 寫下來提醒自己吧
.posttext {
  width: 800px;
  height: 10px;
  // font-size: 2.5rem;
  color: white;
}
.postH2 {
  margin-top: 5px;
  padding-top: 10px;
  color: white;
  font-size: 2rem;
}

// 下方表格區
.postinput {
  margin-top: 50px;
  padding-bottom: 30px;

  display: flex;
  // margin: auto;
  justify-content: center;
  // text-align: fiex-end; //格字內元素置中
  // flex-direction: row;
}

.postDate {
  display: flex;
}
.cameraicon {
  justify-content: center;
  text-align: center;
  margin: auto auto;
  width: 25%;
  height: 25%;
}

// 日期填寫
.postDate {
  // display: inline-block;
  width: 175px;
  height: 250px;
  border: 2px white solid;
  border-radius: 20px;
  margin-bottom: 10px;
}

.helpdropdown{
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

#dropdownMenu2{
  color: white;
}

::-webkit-datetime-edit { 
  color: white;
  background-color: #f6bc54;
}

::-webkit-calendar-picker-indicator,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-inner-spin-button {
  color: white;
  background-color: #f6bc54;
}

.helpchoosedate{
  color: white;
  background-color: #f6bc54;
  width: 160px;
  padding-left: 10px;
  padding-right: 5px;
  border: 1px white solid;
  border-radius: 10px;
}


// 重要按鈕
.postClass {
  // display: inline-block;
  width: 100px;
  height: 200px;
  margin-bottom: 10px;
}

.button1 {
  background-color: #f6bc54;
  color: white;
  border: 2px solid white;
  transition-duration: 0.4s;
  height: 125px;
  width: 60px;
  border: 2px white solid;
  border-radius: 20px 20px 0px 0px;
  // border: 2px solid #f6bc54;
  font-size: 20px;
}
.button1:hover {
  background-color: white;
  color: #f6bc54;
}
.button1:focus {
  background-color: white;
  color: #f6bc54;
}
.button2 {
  background-color: #f6bc54;
  color: white;
  border: 2px solid white;
  transition-duration: 0.4s;
  height: 125px;
  width: 60px;
  border-radius: 0px 0px 20px 20px;
  font-size: 20px;
}
.button2:hover {
  background-color: #f6bc54;
  color: white;
}
.button2:focus {
  background-color: white;
  color: #f6bc54;
}

// 標籤
.postTag {
  // display: inline-block;
  width: 175px;
  height: 250px;
  // border: 2px #f6bc54 solid;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
// TAG 上方
.postTag1 {
  // display: inline-block;
  width: 175px;
  height: 125px;
  border: 2px white solid;
  border-radius: 20px;
  display: inline-block;
  padding-top: 8px;
}

.scheduleInput {
  width: 60%;
  padding: auto auto;
  margin: 3px auto;
  box-sizing: unset;
  border: none;
  border-bottom: 2px solid white;
  background-color: #f6bc54;
}

.postLabel {
  font-size: 16px;
  color: white;
}

// TAG 下方
.postTag2 {
  width: 175px;
  height: 125px;
  border: 2px white solid;
  border-radius: 20px;
  margin-top: 3px;
  padding-top: 10px;
}
.tagIcon1,
.tagIcon2,
.tagIcon3,
.tagIcon4,
.tagIcon5,
.tagIcon6 {
  margin: 5px 5px 3px 3px;
  font-size: 15px;
  width: 60px;
  background-color: #97bbbd;
  border-radius: 10px;
  border: 2px #97bbbd solid;
  color: white;
  opacity: 0.5;
}
.tagIcon1,
.tagIcon2,
.tagIcon3,
.tagIcon4,
.tagIcon5,
.tagIcon6:hover {
  background-color: #97bbbd;
  color: white;
  opacity: 1;
}
.tagIcon1,
.tagIcon2,
.tagIcon3,
.tagIcon4,
.tagIcon5,
.tagIcon6:focus {
  background-color: #97bbbd;
  color: white;
  opacity: 1;
}

// 文字輸入區
.postSaySomethingdiv {
  width: 350px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.postSaySomething {
  width: 100%;
  height: 210px;
  display: flex;
}

.givertitle {
  width: 350px;
  height: 60px;
  padding: 18px 20px;
  box-sizing: border-box;
  border: 2px white solid;
  border-radius: 20px;
  background-color: transparent;
  font-size: 16px;
  color: white;
  justify-content: flex-end;
  overflow:hidden;
}

.helptextarea {
  width: 350px;
  height: 150px;
  padding: 18px 20px;
  box-sizing: border-box;
  border: 2px white solid;
  border-radius: 20px;
  background-color: transparent;
  font-size: 16px;
  color: white;
  justify-content: flex-end;
}

.buttonDiv {
  // height: 50px;
}
.helpSummitButton {
  margin-top: 10px;
  background-color: white;
  color: #f6bc54;
  border: 2px solid #f6bc54;
  transition-duration: 0.4s;
  height: 35px;
  width: 350px;
  border-radius: 20px;
  font-size: 18px;
  justify-content: flex-end;
}

.helpSummitButton:hover {
  background-color: #f6bc54;
  color: white;
  border: 2px solid white;
}
